<tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
  <td class="px-6 py-4">{{@data.name}}</td>
  <td class="px-6 py-4">({{@data.price}})</td>
  <td class="px-6 py-4">
    <div class="flex justify-between">
      <span class="w-20 text-center text-xl flex items-center justify-center">
        <p class="my-auto">{{@data.count}}</p>
      </span>
    </div>
  </td>
  <td class="px-6 py-4">{{@data.total}}</td>
</tr>