{{!-- {{yield}} --}}

<div class="mx-auto">
  <h3 class="text-3xl">{{@data.name}}</h3>
  <div class="detail type">
    <span>Price:</span> {{@data.price}}
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      type="button"
      {{on "click" (fn this.addItem @data)}}
    >
      Add
    </button>
  </div>
</div>