{{page-title "Order"}}
<div class="container mx-auto">
  <h2 class="text-3xl font-bold">Order</h2>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      {{#each @model as |result|}}
      <Order @data={{result}} />
      {{/each}}
    </table>
  </div>
</div>
{{outlet}}